
<% if current_user.nil? %>

<%else%>
  <% if current_user.admin? %>
    <div> To jest admin </div>
    <%= link_to('Nowa kategoria', new_category_path) %>
    <% @applications.each do |a| %>
      <%if a.acceptance==nil %>
        <div> <%= a.name %><%= link_to("Akceptuj", refundations_path(a), method: :post)%> <%= link_to("Odrzuć", applications_path(a), method: :put) %> </div>
      <%end%>
    <%end%>
  <%else%>
    <div> To jest zwykły user </div>
    <%= link_to('Nowy',new_application_path) %>
      <% @applications.each do |a| %>
        <%if(a.user_id==current_user.id) %>
        <div><%= a.name %>
          <% if a.acceptance==true %> Accepted
          <%elsif a.acceptance == false %> Rejected
          <%elsif a.acceptance == nil %> Waiting
          <%end%> </div>
        <%end%>
      <%end%>
    <%end%>
<%end%>
