
<% if current_user.nil? %> <!-- if we are not logged in -->
<%else%>
  <% if current_user.admin? %> <!-- if we are an admin -->
    <table align="center" style="margin-top: 5%">
      <tr>
        <th> Name </th>
        <th> Date </th>
        <th> Money </th>
        <th> Category </th>
        <th> Accept </th>
        <th> Reject </th>
      </tr>
    <% @applications.each do |a| %>
      <%if a.acceptance==nil %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= a.amount_of_money %></td>
        <td><%= Category.find(a.category_id).name %></td>
        <td>
          <%= link_to refundations_path(a), method: :post, id: "logo" do %>
          <%= image_tag("yes_green.png", height: '30', width: '30', :class=>"image") %>
        <% end %>
      </td>
        <td><%= link_to applications_path(a), method: :put, id: "logo" do %>
          <%= image_tag("no_green.png", height: '30', width: '30') %>
        <% end %>
      </td>
      </tr>
      <%end%>
    <%end%>
  </table>
  <%else%> <!-- if we are not an admin -->
    <div style="margin-top: 5%">
      <table align="center">
        <tr>
          <th> Name </th>
          <th> Date </th>
          <th> Money </th>
          <th> Category </th>
          <th> State </th>
        </tr>
      <% @applications.each do |a| %>
        <%if(a.user_id==current_user.id) %> <!-- only current user applications -->
        <tr>
          <td><%= a.name %></td>
          <td><%= a.created_at.strftime("%d-%m-%Y") %> </td>
          <td> <%= a.amount_of_money%> </td>
          <td> <%= Category.find(a.category_id).name %> </td>
          <% if a.acceptance==true %><td> <%= image_tag("yes.png", height: '30', width: '30') %></td>
          <%elsif a.acceptance == false %> <td><%= image_tag("no.png", height: '30', width: '30') %></td>
          <%elsif a.acceptance == nil %><td><%= image_tag("wait.png", height: '30', width: '30') %></td>
          <%end%>
        </tr>
        <%end%>
      <%end%>
    </table>
    </div>
    <%end%>

<%end%>
