
<%= form_for @application do |a| %>
  <%if @application.errors.any? %>
  <% @application.errors.each do |attr,msg|  %>
  <center><div class="message-box"><%=msg%></div></center> <!-- displaying error messages -->
  <% end %>
  <%end %>
  <br>
  <div><%= a.label :name, :class => "labels" %></div>
  <div><%= a.text_field :name,:placeholder => :name, :class => "login_text_field" %></div>
  <div><%= a.label :amount_of_money, :class => "labels", :style => "margin-right: 15%;" %></div>
  <div><%= a.text_field :amount_of_money,:placeholder => :amount_of_money, :class => "login_text_field" %> </div>
  <div><%= a.label "Category", :class => "labels", :style => "margin-right: 22%;" %></div>
  <div><%= a.collection_select :category_id,Category.all,:id, :name, {prompt: "Select category"}, {class: "select_list "} %></div>
  <div><%= a.submit :class => "login_submit" %></div>
<%end%>
