<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if (@current_month!=1) %>
      Refundation report for <%= Date::MONTHNAMES[@current_month]-1 %><br>
    <%else%>
      Refundation report for <%= Date::MONTHNAMES[12]%><br>
    <%end%>
    <br>
    --------------------------------<br>
    Summary:<br>
    --------------------------------<br>
    Number of granted refundations: <%= @refundations.size %> <br>
    Cost of refundations: <%= @refundations.sum("amount_of_money") %> <br>
    <br>
    --------------------------------<br>
    Details:<br>
    --------------------------------<br>
    <% @refundations.each do |r| %>
      Name:  <%= r.name %> <br>
      Refunded money:  <%= r.amount_of_money %> <br>
      Date:  <%= r.created_at %> <br>
      Declarant: <%=User.find(r.user_id).email %> <br>
    --------------------------------<br>
    <%end%>
  </body>
</html>
