<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if (@current_month!=1) %>
      Refundation report for <%= Date::MONTHNAMES[@current_month-1] %><br>
    <%else%>
      Refundation report for <%= Date::MONTHNAMES[12]%><br>
    <%end%>
    <br>
    --------------------------------<br>
    Summary:<br>   <!-- summary informations about all refundations in system -->
    --------------------------------<br>
    Number of granted refundations: <%= @refundations.size %> <br>
    Cost of refundations: <%= @refundations.sum("amount_of_money") %> <br>
    <br>
    --------------------------------<br>
    Details(for each user):<br>  <!-- showing basic informations about every user refunds -->
    --------------------------------<br>
    <% @users.each do |u| %>
      <% if u.admin!=true %>
        User: <%= u.email %> <br>
        Number of granted refundations: <%= u.refundations.size %><br>
        Sum of money granted: <%= u.refundations.sum("amount_of_money") %> <br>
      --------------------------------<br>
      <%end%>
    <%end%>
  </body>
</html>
