<body>
<%= form_for @category do |c| %>

  <%if @category.errors.any? %>
  <% @category.errors.each do |attr,msg|  %>
  <center><div class="message-box"><%=msg%></div></center> <!-- displaying error messages -->
  <% end %>
  <%end %>
  <div><%= c.label "Name", :class => "labels" %></div>
  <div><%= c.text_field :name, :placeholder => :name, :class => "login_text_field" %></div>
  <div><%= c.label "Percent",:class => "labels", :style => "margin-right: 24%;"%></div>
  <div><%= c.text_field :percent, :placeholder => :percent, :class => "login_text_field" %></div>
  <div>  <%= c.submit :class => "login_submit" %></div>
<%end%>
</body>
