<!DOCTYPE html>
<html>
<head>
  <title>Refunds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<!-- navbars -->
<body style="background-color: white" class="categories">
  <ul>
  <li> <%= link_to("Applications", applications_path, :class => "app") %> </li><li> <%= link_to("Categories", categories_path, :class => "categories") %> </li><li style="float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li><li class="login"> You have signed in as,<span style="color: #419873;">  admin</span></li>
  </ul>
  <ul class="submenu">
    <li class="submenu"> <%= link_to("New", new_category_path, :class=>"submenu") %>
  </ul>
<%= yield %>

</body>
</html>
